@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<hr class="mt-0" />

<address>
    10880 Malibu Point, 90265<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jarvis@starkindustries.com">jarvis@starkindustries.com</a><br />
</address>