@using MovieListingsApp.Models.MovieModels
@model IndexViewModel

@{
    ViewData["Title"] = $"Movies";
    var movies = Model.Movies;
}

<div id="movies-div" class="mt-2 mb-2 ml-4 mr-4">

    <h1 class="page-heading">Movies</h1>

    <hr class="m-0" />

    @*<div class="mt-2">
            @Html.Partial("Index_Actions")
        </div>*@

    @*<div class="mt-2">
            <partial name="_SuccessMessages" />
        </div>*@

    <div class="mt-2 m">
        @Html.Partial("Index_Movies", movies)
    </div>
</div>

@section Scripts
{
    <script>

    </script>

}