@using MovieListingsApp.Models.MovieModels
@model IEnumerable<Movie>

@{
    var movies = Model;
}

@if (!movies.Any())
{
    <div class="gray-highlight text-center mt-2 p-4">
        No listings found. 
    </div>

    return;
}
<div>
    @foreach (var item in movies)
    {
        <div class="gray-highlight mt-2 p-4">
            <div class="grid">
                <div class="row row-no-gutters">
                    <div class="col-4 border border-secondary">
                        @if (item.ThumbnailIds.Any())
                        {
                            //Only using 1 thumbnail for now.
                            <img src="~/MovieThumbnails/Download/@item.ThumbnailIds.First()"
                                 style="max-width:100%; height: auto;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </div>
                    <div class="col-8">
                        <h2 class="">
                            @item.Title [@item.Year]
                        </h2>
                        <hr />
                        <p>
                            @Html.Raw(item.Description.Substring(0, Math.Min(500, item.Description.Length)).Replace("\n", "<br />"))
                        </p>
                        <div>
                            <a href="~/Home/Details/@item.Id"
                               class="btn btn-primary">
                                <i class="fas fa-ellipsis-h"></i> More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>