@using MovieListingsApp.Models.MovieModels
@model IndexViewModel

@{
    var canCreate = Model.CanCreate;
}

@if (canCreate)
{
    <a href="~/Movies/Create"
       class="btn btn-success d-block d-md-inline-block mt-2 mb-2">
        <i class="fas fa-plus-circle"></i> Create
    </a>
}